
create database dialyvn
use dialyvn
CREATE TABLE TINH(
	MATINH CHAR(2) NOT NULL primary key,
	TENTINH VARCHAR(30) NOT NULL,
	DIENTICH FLOAT,
	DANSO INT,
	THIXA VARCHAR(30),
	MAMIEN CHAR(1) NOT NULL);

CREATE TABLE MIEN(
	MAMIEN CHAR(1) NOT NULL primary key,
	TENMIEN CHAR(10) NOT NULL);

CREATE TABLE BIENGIOI(
	MATINH CHAR(2) NOT NULL,
	MANUOC CHAR(3) NOT NULL)
	;

CREATE TABLE NUOC(
	MANUOC CHAR(3) NOT NULL,
	TENNUOC VARCHAR(30) NOT NULL,
	THUDO VARCHAR(30));

CREATE TABLE LANGGIENG(
	MATINH CHAR(2) NOT NULL,
	LG CHAR(2) NOT NULL);
ALTER TABLE BIENGIOI
ADD CONSTRAINT KC_MM
PRIMARY KEY (MATINH,MANUOC);
ALTER TABLE LANGGIENG
ADD CONSTRAINT KC_LG
PRIMARY KEY (MATINH,LG);
ALTER TABLE NUOC
ADD CONSTRAINT KC_MANUOC
PRIMARY KEY (MANUOC);

----------
INSERT INTO MIEN
VALUES('B','BAC'); 

INSERT INTO MIEN
VALUES('T','TRUNG'); 

INSERT INTO MIEN
VALUES('N','NAM'); 
--chen bang tinh
INSERT INTO TINH
VALUES('AG','AN GIANG',3493,1812200,'LONG XUYEN','N');

INSERT INTO TINH
VALUES('BD','BINH DINH',4503,1420600,'QUI NHON','T');

INSERT INTO TINH
VALUES('BG','BINH DUONG',3859,590800,'THU DAU MOT','N');


































--Nhap lieu cho bang NUOC
INSERT INTO NUOC
VALUES('CPC','CAMPUCHIA','PHNONG PENH');

INSERT INTO NUOC
VALUES('LAO','LAO','VIEN CHAN');

INSERT INTO NUOC
VALUES('TRQ','TRUNG QUOC','BAC KINH');


--Nhap lieu cho bang BIENGIOI
INSERT INTO BIENGIOI
VALUES('AG','CPC');

INSERT INTO BIENGIOI
VALUES('BP','CPC');

INSERT INTO BIENGIOI
VALUES('CB','TRQ');
















--Nhap lieu cho bang LANGGIENG
INSERT INTO LANGGIENG
VALUES('AG','DT'); 

INSERT INTO LANGGIENG
VALUES('AG','KG'); 

INSERT INTO LANGGIENG
VALUES('AG','CT'); 





































































--Cau hoi
--1.Xuất ra tên tỉnh, TP cùng với dân số của tỉnh,TP:

--2.Xuất ra tên tỉnh, TP cùng với diện tích của tỉnh,TP:

--3.Xuất ra các Tên tỉnh, TP biên giới thuộc nước [input] (SV cho một nước bất kỳ)
SELECT T.TENTINH,B.MANUOC
FROM TINH T, BIENGIOI B, NUOC N
WHERE T.MATINH=B.MATINH AND B.MANUOC=N.MANUOC AND N.MANUOC='CPC'

SELECT *
FROM TINH
--PHEP KET TU NHIEN NATURAL JOIN
SELECT *
FROM BIENGIOI B,TINH T
WHERE B.MATINH=T.MATINH
--4.Cho biết diện tích trung bình của các tỉnh, TP (Tổng DT/Tổng số tỉnh_TP).
SELECT DTTB=SUM(T.DIENTICH)/COUNT(T.MATINH) 
FROM TINH T
--5.Cho biết dân số cùng với tên tỉnh của các tỉnh, TP có diện tích > 7000 Km2.
USE dialyvn
SELECT T.TENTINH, T.DANSO, T.DIENTICH
FROM TINH T
WHERE T.DIENTICH<7000

--6.Cho biết dân số cùng với tên tỉnh của các tỉnh miền ‘Bắc’.
SELECT T.MATINH, T.DANSO, T.MAMIEN
FROM TINH T
WHERE T.MAMIEN='B'
--7.Cho biết mã các nước biên giới của các tỉnh miền ‘Nam’.
SELECT DISTINCT N.MANUOC
FROM TINH T, NUOC N, BIENGIOI B
WHERE T.MATINH=B.MATINH AND N.MANUOC=B.MANUOC AND T.MAMIEN='N'
--8.Cho biết diện tích trung bình của các tỉnh, TP. (Sử dụng hàm)
SELECT DTTB=SUM(T.DIENTICH)/COUNT(T.MATINH)
FROM TINH T
WHERE
--9.Cho biết mật độ dân số (DS/DT) cùng với tên tỉnh, TP của tất cả các tỉnh, TP.
SELECT T.TENTINH, MDDS=T.DANSO/T.DIENTICH
FROM TINH T
WHERE
--10.Cho biết tên các tỉnh,TP láng giềng của tỉnh ‘Long An’.
SELECT L.LG
FROM TINH T, LANGGIENG L
WHERE T.MATINH=L.MATINH AND T.TENTINH='LONG AN'
SELECT *
from tinh
where MATINH='lg'
--11.Cho biết số lượng các tỉnh, TP giáp với ‘CPC’.
SELECT SLCT=COUNT(T.MATINH)
FROM TINH T, BIENGIOI B
WHERE T.MATINH=B.MATINH AND B.MANUOC='CPC'
--12.Cho biết tên những tỉnh, TP có diện tích lớn nhất.
SELECT TOP 1 WITH TIES T.TENTINH, T.DIENTICH
FROM TINH T
ORDER BY T.DIENTICH DESC
--13.Cho biết tỉnh, TP có mật độ DS đông nhất.
SELECT TOP 1 WITH TIES T.TENTINH, MDDS=(T.DANSO/T.DIENTICH)
FROM TINH T
ORDER BY MDDS DESC
--14.Cho biết tên những tỉnh, TP giáp với hai nước biên giới khác nhau.
SELECT T.MATINH,BG=COUNT(B.MANUOC)
FROM TINH T, BIENGIOI B
WHERE T.MATINH=B.MATINH
GROUP BY T.MATINH 
HAVING COUNT(B.MANUOC)>1-- =2
--15.Cho biết danh sách các miền cùng với các tỉnh, TP trong các miền đó.
SELECT T.TENTINH, T.MAMIEN
FROM TINH T, MIEN M
WHERE T.MAMIEN=M.MAMIEN
ORDER BY T.MAMIEN

--neww
SELECT  T.MAMIEN,T.TENTINH
FROM TINH T
group by MAMIEN,TENTINH
ORDER BY T.MAMIEN
--16.Cho biết tên những tỉnh,  có nhiều láng giềng nhất.
SELECT TOP 1 WITH TIES T.TENTINH, SLG=COUNT(L.LG)
FROM TINH T, LANGGIENG L
WHERE T.MATINH=L.MATINH
GROUP BY T.TENTINH
ORDER BY SLG DESC
//
SELECT   T.TENTINH, SLG=COUNT(L.LG)
FROM TINH T, LANGGIENG L
WHERE T.MATINH=L.MATINH
GROUP BY T.TENTINH
go

SELECT   *--T.TENTINH, L.LG
FROM TINH T, LANGGIENG L
WHERE T.MATINH=L.MATINH
--17.Cho biết những tỉnh, TP có diện tích nhỏ hơn diện tích trung bình của tất cả tỉnh, 
--TP.
SELECT T.TENTINH, T.DIENTICH
FROM TINH T
WHERE T.DIENTICH< (SELECT DTTB=SUM(T.DIENTICH)/COUNT(T.MATINH)FROM TINH T)

--18.Cho biết tên những tỉnh, giáp với các tỉnh ở miền ‘Nam’ 
--và không phải là miền ‘Nam’.
SELECT T.TENTINH, L.LG
FROM TINH T, LANGGIENG L, TINH T1
WHERE T.MATINH=L.MATINH AND L.LG=T1.MATINH AND T.MAMIEN='N' AND T1.MAMIEN<>'N'

-------------
SELECT *--T.TENTINH, L.LG
FROM TINH T, LANGGIENG L, TINH T1
WHERE T.MATINH=L.MATINH AND L.LG=T1.MATINH AND T.MAMIEN='N' AND T1.MAMIEN<>'N'
------------

SELECT *--T.TENTINH, L.LG
FROM TINH T, LANGGIENG L, TINH T1
WHERE T.MATINH=L.MATINH AND L.LG=T1.MATINH AND T.MAMIEN='N' --AND T1.MAMIEN<>'N'

----
--NEW 18

SELECT *
FROM TINH
WHERE MATINH IN(
SELECT lg.lg
from LANGGIENG lg
where   LG.MATINH IN(SELECT MATINH FROM TINH WHERE MAMIEN='N')) AND MAMIEN<>'N'--AND T1.MAMIEN ='N') 

--19.Cho biết tên những tỉnh có diện tích lớn hơn tất cả các tỉnh, 
--TP láng giềng của nó.
SELECT T.TENTINH, DTLNLG=MAX(T1.DIENTICH)
FROM TINH T, LANGGIENG L, TINH T1
WHERE T.MATINH=L.MATINH AND L.LG=T1.MATINH 
GROUP BY T.TENTINH,t.dientich
HAVING T.DIENTICH>=MAX(T1.DIENTICH) 
---------
SELECT *--T.TENTINH,T.DIENTICH, DTLNLG=MAX(T1.DIENTICH)
FROM TINH T, LANGGIENG L, TINH T1
WHERE T.MATINH=L.MATINH AND L.LG=T1.MATINH 
--GROUP BY T.TENTINH,T.DIENTICH
HAVING T.DIENTICH>=MAX(T1.DIENTICH)
--20.Cho biết tên những tỉnh, TP mà ta có thể đến bằng cách đi từ ‘TP.HCM’ 
--xuyên qua ba tỉnh khác nhau và cũng khác với điểm xuất phát, nhưng láng giềng với nhau.
SELECT
FROM

		(SELECT B1.LG, L1.LG
		 FROM
				(SELECT T.MATINH, L.LG
				FROM TINH T, LANGGIENG L
				WHERE T.MATINH=L.MATINH AND T.MATINH='SG') B1,LANGGIENG L1
		 WHERE B1.LG=L1.MATINH AND L1.LG<>'SG') B2, LANGGIENG L2
WHERE B2.LG=L2.MATINH AND L2.LG<>'SG' AND L2.LG NOT IN 
													  (SELECT L.LG
													  FROM TINH T, LANGGIENG L
													  WHERE T.MATINH=L.MATINH AND T.MATINH='SG')

SELECT T1.MATINH,L1.LG,L2.LG,L3.LG
FROM TINH T1, LANGGIENG L1, LANGGIENG L2, LANGGIENG L3
WHERE T1.MATINH=L1.MATINH AND L1.LG=L2.MATINH AND L2.LG=L3.MATINH 
	AND T1.MATINH='SG' 
	AND L3.LG<>'SG' 
	AND L3.LG<>L1.LG 
	AND L2.LG<>'SG'
